<aside id="sidebar" class="sidebar c-overflow">
    <div class="s-profile">
        <a href="" data-ma-action="profile-menu-toggle">
            <div class="sp-pic">
                <img src="img/lion.jpg" alt="">
            </div>

            <div class="sp-info">
                Lion Thundercats

                <i class="zmdi zmdi-caret-down"></i>
            </div>
        </a>

        <ul class="main-menu">
            <li class="disabled">
                <a class="disabled" href=""><i class="zmdi zmdi-account"></i> Perfil</a>
            </li>
            <li>
                <a href=""><i class="zmdi zmdi-settings"></i> Configurações</a>
            </li>
            <li>
                <a href=""><i class="zmdi zmdi-time-restore"></i> Sair</a>
            </li>
        </ul>
    </div>

    <ul class="main-menu">
        <li class="sub-menu">
            <a href="" data-ma-action="submenu-toggle" ><i class="fa fa-paw"></i> Gatos</a>

            <ul>
                <li><a ui-sref-active="active" ui-sref="register-cat" class="">Cadastrar</a></li>
                <li><a ui-sref-active="active" ui-sref="list-cats">Listar</a></li>
            </ul>
        </li>
        <li class="sub-menu" >
            <a href="" class="disable-item" data-ma-action="submenu-toggle-disabled"><i class="zmdi zmdi-assignment-account"></i> Voluntariado</a>

            <ul>
                <li><a class="menu-disabled">Cadastrar</a></li>
                <li><a href="dashboards/school.html" class="menu-disabled">Listar</a></li>
            </ul>
        </li>

        <li class="sub-menu" >
            <a href="" class="disable-item" data-ma-action="submenu-toggle-disabled"><i class="zmdi zmdi-favorite"></i> Adoção</a>

            <ul>
                <li><a href="widget-templates.html">Cadastrar</a></li>
                <li><a href="widgets.html">Listar</a></li>
            </ul>
        </li>
        <li class="sub-menu" >
            <a href="" class="disable-item" data-ma-action="submenu-toggle-disabled" ><i class="zmdi zmdi-money-box"></i>Apadrinhamento</a>

            <ul>
                <li><a href="tables.html" class="menu-disabled">Cadastar</a></li>
                <li><a href="data-tables.html" class="menu-disabled">Listar</a></li>
            </ul>
        </li>
        <li class="sub-menu ">
            <a href="" class="disable-item" data-ma-action="submenu-toggle-disabled"><i class="zmdi zmdi-accounts-list"></i>Contatos</a>
            <ul>
                <li><a href="colors.html" class="menu-disabled">Cadastrar</a></li>
                <li><a href="animations.html" class="menu-disabled">Listar</a></li>
            </ul>
        </li>
    </ul>
</aside>
